body {
    margin: 0;
    padding: 0;
}

.container {
   display: grid; 
   grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    display: grid;
    row-gap: 50px;
    padding: 20px;
}

.sidebar > :first-child {
    font-size: 35px;
}

.sidebar > :first-child > img {
    width: 50px;
}

.sidebar-group {
    display: grid;
    row-gap: 20px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 25px;
    align-items: center;
}

.sidebar-item > img {
    width: 25px;
}

a {
    text-decoration: none;
    color: #faf5ff;
}

.header {
    border: 1px solid black;
}

.main-content {
    border: 1px solid black;
}