body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
   display: grid; 
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 210px max-content;
   row-gap: 5px;
}

.sidebar {
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    row-gap: 50px;
    padding: 20px;
}

.sidebar > :first-child {
    font-size: 35px;
}

.sidebar > :first-child > img {
    width: 50px;
}

.sidebar > .group {
    display: grid;
    row-gap: 20px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 25px;
    align-items: center;
}

.sidebar-item > img {
    width: 25px;
}

a {
    text-decoration: none;
    color: #faf5ff;
}

.header {
    padding: 20px 40px;
    display: grid;
    row-gap: 20px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.header > .row:first-child {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header > .row:first-child > .group:first-child {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.header > .row:first-child img {
    width: 25px;
}

.header input {
    height: 30px;
    width: max(90%, 300px);
    border-radius: 15px;
    border: none;
    background-color: #e5e7eb;
}

.header > .row:first-child > .group:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    justify-self: end;
}

.header > .row:first-child > .group:nth-child(2) > p {
    font-size: 20px;
    font-weight: bolder;
}

.header > .row:first-child  .profile-image {
    width: 50px;
    border-radius: 25px;
}

.header > .row:nth-child(2) {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header > .row:nth-child(2) > .group:first-child {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px; 
    row-gap: 5px;
    align-items: center;
}

.header > .row:nth-child(2) .profile-image {
    width: 80px;
    border-radius: 40px;
    grid-row: 1 / 3;
}

.header > .row:nth-child(2) > .group:first-child > div:nth-child(2) {
    align-self: self-end;
}

.header > .row:nth-child(2) > .group:first-child > div:nth-child(3) {
    font-size: 25px;
    align-self: self-start;
}

 .header > .row:nth-child(2) > .group:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    column-gap: 20px;
    align-items: center;
 }

 .header > .row:nth-child(2) button {
    background-color: #0ea5e9;
    color: #faf5ff;
    font-size: 20px;
    padding: 10px 0;
    width: 100px;
    border-radius: 25px;
    border: none;
 }

 .main-content {
    background-color: #e5e7eb;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
 }

 .projects > div:first-child {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
 }

 .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
 }

 .card {
    background-color: white;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 7px 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
 }

 .card-title {
    grid-column: 2 / 4;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 900;
 }

 .card-content {
    grid-column: 2 / 4;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #737373;
 }

 .card-buttons {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
 }

 .stripe {
    grid-row: 1 / 4;
    border-radius: 7px 0 0 7px;
    background-color: #fbbf24;
 }

 .card img {
    width: 25px;
 }


